@font-face
{
font-family : "Open Sans2";
font-weight : 300;
font-style : normal;
src : local("Open Sans Light"), local("OpenSans-Light"), url("./fonts/open-sans-v15-latin-ext_latin-300.woff2") format("woff2"), url("./fonts/open-sans-v15-latin-ext_latin-300.woff") format("woff");
}
/* open-sans-regular - latin-ext_latin */
@font-face
{
font-family : "Open Sans2";
font-weight : 400;
font-style : normal;
src : local("Open Sans Regular"), local("OpenSans-Regular"), url("./fonts/open-sans-v15-latin-ext_latin-regular.woff2") format("woff2"), url("./fonts/open-sans-v15-latin-ext_latin-regular.woff") format("woff");
}
/* open-sans-600 - latin-ext_latin */
@font-face
{
font-family : "Open Sans2";
font-weight : 600;
font-style : normal;
src : local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("./fonts/open-sans-v15-latin-ext_latin-600.woff2") format("woff2"), url("./fonts/open-sans-v15-latin-ext_latin-600.woff") format("woff");
}
/* open-sans-700 - latin-ext_latin */
@font-face
{
font-family : "Open Sans2";
font-weight : 700;
font-style : normal;
src : local("Open Sans Bold"), local("OpenSans-Bold"), url("./fonts/open-sans-v15-latin-ext_latin-700.woff2") format("woff2"), url("./fonts/open-sans-v15-latin-ext_latin-700.woff") format("woff");
}
/* open-sans-800 - latin-ext_latin */
@font-face
{
font-family : "Open Sans2";
font-weight : 800;
font-style : normal;
src : local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("./fonts/open-sans-v15-latin-ext_latin-800.woff2") format("woff2"), url("./fonts/open-sans-v15-latin-ext_latin-800.woff") format("woff");
}


body
{
font-family : "Open Sans2", sans-serif;
min-width : 800px;
margin : 0;
background-color : rgb(249, 249, 249);
}

.box
{
height : 100%;
}

table
{
border-spacing : 0;
}

table p
{
margin : auto;
}

.settingsTable
{
margin-bottom : 15px;
transition : all .3s cubic-bezier(.25, .8, .25, 1);
background : rgb(249, 249, 249);
box-shadow : 0 0 4px rgba(0, 0, 0, .12), 0 0 3px rgba(0, 0, 0, .24);
}

.settingsTable:hover
{
box-shadow : 0 0 10px rgba(0, 0, 0, .16), 0 0 10px rgba(0, 0, 0, .23);
}

.settingsTable thead tr:first-child th
{
vertical-align : top;
color : white;
background : #12709E;
}

.settingsTable th
{
vertical-align : top;
}

th
{
padding-right : 0;
padding-left : 0;
text-align : left;
letter-spacing : 0;
color : #12709E;
}

.description
{
font-size : 12px;
margin : 40px 3% 30px;
}

.description p
{
margin-top : 0;
}
@media only screen and (min-width: 1300px)
{
.description
{
margin : 40px 15% 10px;
}
}

.description p
{
font-size : 16px;
color : #5B5B5B;
}

.youdontknow tbody tr td
{
padding-right : 20px;
padding-bottom : 5px;
}

.main-menu-link
{
font-weight : bold;
text-decoration : none;
color : #12709E;
}

.footer
{
flex : 0 1 40px;
}

.main-menu
{
box-sizing : border-box;
position : relative;
z-index : 10;
height : 52px;
margin-top : 0;
padding-top : 5px;
padding-bottom : 10px;
border-top : 1px solid #DCDCDC;
outline-color : rgb(102, 102, 102);
background-color : rgb(249, 249, 249);
box-shadow : 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.main-menu-text
{
margin-right : 15%;
margin-left : 15%;
padding-top : 10px;
padding-bottom : 10px;
vertical-align : middle;
/* the same as your div height */
}

.main-menu-text ul
{
position : relative;
margin : 0;
padding : 0;
list-style : none;
}

.main-menu-text li
{
display : inline-block;
}

.main-menu-text a
{
padding-right : 20px;
}

input[type=checkbox]
{
position : absolute;
top : -9999px;
left : -9999px;
}

.smartphone-name
{
font-size : 12px;
font-weight : bold;
margin-top : 4px;
text-align : center;
color : #08080A;
}

.qtip-img
{
vertical-align : bottom;
width : auto;
height : auto;
max-height : 400px;
cursor : pointer;
}

.accentColor
{
color : #129E41;
}

.heavy
{
font-weight : bold;
}

.logo
{
box-sizing : border-box;
font-weight : bold;
position : relative;
z-index : 20;
height : 60px;
padding-top : 0;
padding-left : 15%;
text-align : left;
background-color : #12709E;
box-shadow : 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.logo-text
{
font-size : 43.2px;
text-decoration : none;
color : #FEFEFE;
}

.logo-bottom
{
box-sizing : border-box;
font-weight : bold;
position : relative;
z-index : 20;
height : 15px;
padding-top : 10px;
padding-left : 15%;
text-align : left;
background-color : #12709E;
box-shadow : 0 -10px 20px rgba(0, 0, 0, .19), 0 -6px 6px rgba(0, 0, 0, .23);
}

.settingsdiv thead > tr > th
{
font-size : 16px;
font-weight : bold;
padding : 8px 8px 4px;
}

.settingsdiv thead > tr > th:nth-child(2)
{
padding-right : 4px;
}

.settingsdiv tbody tr td
{
padding : 8px;
vertical-align : top;
}

.youdontknow td
{
vertical-align : top;
}

.filterdiv
{
box-sizing : border-box;
position : relative;
float : left;
overflow-y : auto;
width : 320px;
margin-left : 10px;
padding-top : 15px;
padding-right : 10px;
padding-left : 10px;
background-color : rgb(249, 249, 249);
}

.filterdiv thead th:nth-child(2)
{
background-color : rgb(249, 249, 249);
}

.sideBarText
{
font-weight : bold;
}

.itemsdiv
{
position : relative;
float : right;
flex : 1;
margin-left : 25px;/* grow */
padding-right : 25px;
transition : all .3s cubic-bezier(.25, .8, .25, 1);
box-shadow : 0 0 4px rgba(0, 0, 0, .12), 0 0 3px rgba(0, 0, 0, .24);
}

.itemsdiv:hover
{
box-shadow : 0 0 10px rgba(0, 0, 0, .16), 0 0 10px rgba(0, 0, 0, .23);
}


.itemsTable > tbody > tr
{
padding : 0;
}

.itemsTable > tbody > tr > td:first-child
{
font-weight : bold;
color : #12709E;
}

.itemsTable > thead > tr > th:not(:empty)
{
font-weight : bold;
padding-left : 8px;
padding-top : 8px;
vertical-align : top;
color : #12709E;
}





.itemsTable > thead > tr > th:last-child
{
width : 100%;
}


.filterselect
{
width : 100px;
color : #12709E;
background-color : rgb(249, 249, 249);
}

.storageInput
{
width : 80%;
}

.detailwindow
{
box-sizing : border-box;
width : 100%;
padding : 5px;
margin-top : 15px;
box-shadow : 0 0 4px rgba(0, 0, 0, .12), 0 0 3px rgba(0, 0, 0, .24);
}

h3
{
font-family : "Open Sans2", sans-serif;
font-size : 16px;
font-weight : normal;
margin : 0;
letter-spacing : .1px;
color : #12709E;
}

.priceTiers
{
font-family : "Open Sans2", sans-serif;
font-size : 16px;
padding-left : 8px;
vertical-align : top;
letter-spacing : .1px;
text-rendering : optimizeLegibility;
}

.smartphonecells
{
padding-right : 10px;
padding-left : 10px;
padding-bottom : 0;
vertical-align : top;
transition : all .3s cubic-bezier(.25, .8, .25, 1);
}


.smallInput
{
float : left;
width : 40px;
}

.rating
{
float : right;
}

.float
{
float : left;
}

.padding-none
{
padding : 0;
}

body, html
{
height : 100%;
margin : 0;
}

.bodydiv
{
z-index : 0;
display : flex;
height : calc(100% - 127px);
}

h1, h2, h4
{
margin : 0;
}

hr
{
margin-top : 0;
margin-bottom : 0;
}

.rating
{
overflow : hidden;
}

.rating-input
{
width : 16px;
height : 16px;
margin : 0 0 0 -16px;
padding : 0;
opacity : 0;
}

radio
{
width : 16px;
height : 16px;
margin : 0 0 0 -16px;
padding : 0;
opacity : 0;
}

.rating-star
{
position : relative;
display : block;
float : right;
width : 16px;
height : 16px;
}

.rating-input:checked ~ .rating-star, .rating-star:hover, .rating-star:hover ~ .rating-star
{
background-position : 0 0;
}

.rating-input:checked ~ .rating-star, .rating:hover .rating-star:hover, .rating:hover .rating-star:hover ~ .rating-star
{
background-position : 0 0;
}

.rating-star, .rating:hover .rating-star
{
position : relative;
display : block;
width : 16px;
height : 16px;
background : url("../images/star.png") 0 -16px;
}

.a-icon-shop-now
{
position : absolute;
top : 2px;
left : 2px;
display : inline-block;
width : 25px;
height : 25px;
vertical-align : top;
background : 0 0;
}

.a-button
{
box-sizing : border-box;
display : block;
overflow : hidden;
width : 100%;
max-width : 130px;
height : 31px;
margin-top : 11px;
padding : 0;
cursor : pointer;
text-align : center;
text-decoration : none;
border : 1px solid;
border-color : #BCC1C8 #BABABA #ADB2BB;
-webkit-border-radius : 3px;
   -moz-border-radius : 3px;
        border-radius : 3px;
background : #D8DDE6;
}

.a-button-text
{
font-family : Arial, sans-serif;
font-size : 12px;
line-height : 29px;
position : relative;
z-index : 10;
display : block;
margin : 0;
padding : 0 2px 0 29px;
text-align : center;
white-space : nowrap;
text-decoration : none;
color : #111111;
border : 0;
background-color : transparent;
}

.a-button-input
{
position : absolute;
z-index : 20;
top : 0;
left : 0;
overflow : visible;
width : 100%;
height : 100%;
cursor : pointer;
opacity : .01;
border : 0;
background-color : rgb(249, 249, 249);
}

.a-button-primary
{
border-color : #CBA957 #BF942A #AA8326;
background : #F0C14B;
}

.a-button-primary:active
{
border-color : #AA8326 #BF942A #BF942A;
}

.a-button-primary:hover
{
border-color : #C59F43 #AA8326 #957321;
}

.a-button-primary:focus
{
border-color : #E47911;
outline : 0                                                                                                    ;
-webkit-box-shadow : 0 0 3px rgba(228, 121, 17, .5);
   -moz-box-shadow : 0 0 3px rgba(228, 121, 17, .5);
        box-shadow : 0 0 3px rgba(228, 121, 17, .5);
}

.a-button-inner
{
position : relative;
display : block;
overflow : hidden;
height : 100%;
cursor : pointer;
text-align : center;
-webkit-border-radius : 3px;
   -moz-border-radius : 3px;
        border-radius : 3px;
}

.a-button-primary .a-button-inner
{
background : -webkit-gradient(linear, left top, left bottom, from(#F7DFA5), to(#F0C14B));
background : -webkit-linear-gradient(top, #F7DFA5, #F0C14B);
background :    -moz-linear-gradient(top, #F7DFA5, #F0C14B);
background :     -ms-linear-gradient(top, #F7DFA5, #F0C14B);
background :      -o-linear-gradient(top, #F7DFA5, #F0C14B);
background : #F3D078;
background-color : #F7DFA5;
-webkit-box-shadow : 0 1px 0 rgba(255, 255, 255, .4) inset;
   -moz-box-shadow : 0 1px 0 rgba(255, 255, 255, .4) inset;
        box-shadow : 0 1px 0 rgba(255, 255, 255, .4) inset;
}

.a-button-primary:active .a-button-inner
{
background-color : #F0C14B;
background-image : none;
-webkit-box-shadow : 0 1px 3px rgba(0, 0, 0, .2) inset;
   -moz-box-shadow : 0 1px 3px rgba(0, 0, 0, .2) inset;
        box-shadow : 0 1px 3px rgba(0, 0, 0, .2) inset;
}

.a-button-primary:hover .a-button-inner
{
background : -webkit-gradient(linear, left top, left bottom, from(#F5D78E), to(#EEB933));
background : -webkit-linear-gradient(top, #F5D78E, #EEB933);
background :    -moz-linear-gradient(top, #F5D78E, #EEB933);
background :     -ms-linear-gradient(top, #F5D78E, #EEB933);
background :      -o-linear-gradient(top, #F5D78E, #EEB933);
background : #F1C860;
background-color : #F5D78E;
}

.wrapper
{
display : flex;
align-items : center;
justify-content : center;
width : 100%;
}

.rating-star
{
-webkit-transition : all .20s ease-in-out;
   -moz-transition : all .20s ease-in-out;
    -ms-transition : all .20s ease-in-out;
     -o-transition : all .20s ease-in-out;
}

.first-rating-star
{
-webkit-transition : none;
   -moz-transition : none;
    -ms-transition : none;
     -o-transition : none;
}

input[type=date], input[type=datetime], input[type=email], input[type=number], input[type=search], input[type=text], input[type=time], input[type=url], select, textarea
{
font-size : 16px;
float : right;
padding : 1px;
-webkit-transition : all .30s ease-in-out;
   -moz-transition : all .30s ease-in-out;
    -ms-transition : all .30s ease-in-out;
     -o-transition : all .30s ease-in-out;
color : #12709E;
border : 1px solid #12709E;
background-color : rgb(249, 249, 249);
}

input[type=date]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, select:focus, textarea:focus
{
border : 1px solid #12709E;
-webkit-box-shadow : 0 0 8px #12709E;
   -moz-box-shadow : 0 0 8px #12709E;
        box-shadow : 0 0 6px #12709E;
}

::-webkit-input-placeholder
{
/* WebKit, Blink, Edge */
color : #12709E;
}

:-moz-placeholder
{
opacity : 1;/* Mozilla Firefox 4 to 18 */
color : #12709E;
}

::-moz-placeholder
{
opacity : 1;/* Mozilla Firefox 19+ */
color : #12709E;
}

:-ms-input-placeholder
{
/* Internet Explorer 10-11 */
color : #12709E;
}

::-ms-input-placeholder
{
/* Microsoft Edge */
color : #12709E;
}

::placeholder
{
/* Most modern browsers support this now. */
color : #12709E;
}

.sorting_order
{
float : right;
transition : transform .8s ease;
vertical-align : middle;
}

.sorting_order:hover
{
background-color : #E1E1E1;
}

.lbl:after
{
box-sizing : border-box;
position : absolute;
top : -4px;
left : -2px;
display : block;
width : 28px;
height : 28px;
content : "";
transition : all .1s linear;
border : 1px solid #12709E;
border-radius : 100px;
background : rgb(249, 249, 249);
}

.lbl
{
position : relative;
display : block;
float : right;
width : 50px;
height : 20px;
margin : 5px;
cursor : pointer;
border : 1px solid #12709E;
border-radius : 100px;
}

.cbx:checked ~ label
{
border : 1px solid #12709E;
background : #12709E;
}

.cbx:checked ~ label:after
{
left : 30px;
border : 1px solid #12709E;
background : rgb(249, 249, 249);
}

.cbx:disabled ~ label
{
pointer-events : none;
background : #12709E;
}

.hidden
{
display : none;
}

.cbx:disabled ~ label:after
{
background : #12709E;
}
