/* open-sans-300 - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('./fonts/open-sans-v15-latin-ext_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300italic - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url('./fonts/open-sans-v15-latin-ext_latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-300italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./fonts/open-sans-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('./fonts/open-sans-v15-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('./fonts/open-sans-v15-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600italic - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url('./fonts/open-sans-v15-latin-ext_latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-600italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./fonts/open-sans-v15-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('./fonts/open-sans-v15-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('./fonts/open-sans-v15-latin-ext_latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-800.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin-ext_latin */

@font-face {
  font-family: 'Open Sans2';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url('./fonts/open-sans-v15-latin-ext_latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin-ext_latin-800italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Open Sans2', sans-serif;
  margin: 0;
  min-width: 1000px;
}

table {
  table-layout: fixed;
  border-spacing: 0;
}

table p {
  margin: auto;
}

.settingsTable {
  background: #12709e;
}

th {
  padding-right: 0;
  padding-left: 0;
  color: white;
  text-align: left;
  letter-spacing: 0;
}

.bodydiv {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.description {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 12px;
}

.description p {
  margin-top: 0;
}

@media only screen and (min-width: 1300px) {
  .description {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .bodydiv {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
  }
}

.description p {
  font-size: 16px;
  color: #5b5b5b;
}

.youdontknow tbody tr td {
  padding-right: 20px;
  padding-bottom: 5px;
}

.main-menu-link {
  text-decoration: none;
  color: #5b5b5b;
}

.main-menu {
  margin-top: 0px;
  padding-bottom: 30px;
  padding-top: 10px;
  outline-color: rgb(102, 102, 102);
  background-color: rgb(249, 249, 249);
  border-top-color: rgb(220, 220, 220);
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.main-menu-text {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: middle;
  /* the same as your div height */
}

.main-menu-text ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}

.main-menu-text li {
  display: inline-block;
}

.main-menu-text a {
  padding-right: 20px;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.smartphone-name {
  margin-top: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.qtip-img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 400px;
  display: block;
  cursor: pointer;
}

.accentColor {
  color: #12709e;
}

.heavy {
  font-weight: bold;
}

.logo {
  text-align: left;
  margin-left: 15%;
  margin-top: 10px;
  font-weight: bold;
}

.settingsdiv {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.settingsdiv thead>tr>th {
  font-weight: normal;
  padding: 8px;
  font-size: 18px;
  border-bottom: 1px solid #F0F0F0;
}

.settingsdiv tbody tr td {
  vertical-align: top;
  padding: 8px;
}

.filterdiv {
  float: left;
  overflow-y: auto;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.filterdiv thead th:first-child {}

.filterdiv thead th:nth-child(2) {
  background-color: white;
}

.filterdiv thead th {}

.sideBarText {
  font-weight: bold;
}

.itemsdiv {
  margin-left: 315px;
  height: calc(100vh - 180px);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.itemsTable>tbody>tr {
  padding: 0;
}

.itemsTable>tbody>tr>td:first-child {
  color: #5b5b5b;
  font-weight: bold;
  border-right: 1px solid #F0F0F0;
}

.itemsTable>thead>tr>th:not(:empty) {
  vertical-align: top;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #5b5b5b;
}

.itemsTable>thead>tr>th {
  border-bottom: 1px solid #F0F0F0;
}

.itemsTable>thead>tr>th:first-child {
  border-right: 1px solid #F0F0F0;
}

.tryFiltering {
  font-size: 18px;
  font-weight: bold;
  color: #12709e;
}

.tryFiltering span {
  font-size: 28px;
  font-weight: bold;
  color: #12709e;
}

.filterselect {
  background-color: white;
  font-size: 18px;
  color: #5b5b5b;
}

.detailwindow {
  padding-left: 6px;
  padding-right: 6px;
}

h3 {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  letter-spacing: .1px;
  font-family: 'Open Sans2', sans-serif;
}

.priceTiers {
  font-size: 18px;
  font-family: 'Open Sans2', sans-serif;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
  padding-left: 8px;
  vertical-align: top;
}

.smartphonecells {
  vertical-align: top;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

.smallInput {
  width: 35px;
  float: left;
}

.rating {
  float: left;
}

.float {
  float: left;
}

.padding-none {
  padding: 0;
}

p {
  display: block;
  font-family: 'Open Sans2', sans-serif;
  font-size: 11px;
  letter-spacing: .1px;
}

h1, h2, h4 {
  margin: 0;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.rating {
  overflow: hidden;
}

.rating-input {
  width: 16px;
  height: 16px;
  margin: 0 0 0 -16px;
  padding: 0;
  opacity: 0;
}

radio {
  width: 16px;
  height: 16px;
  margin: 0 0 0 -16px;
  padding: 0;
  opacity: 0;
}

.rating-star {
  display: block;
  float: right;
  position: relative;
  width: 16px;
  height: 16px;
}

.rating-input:checked~.rating-star, .rating-star:hover, .rating-star:hover~.rating-star {
  background-position: 0 0;
}

.rating-input:checked~.rating-star, .rating:hover .rating-star:hover, .rating:hover .rating-star:hover~.rating-star {
  background-position: 0 0;
}

.rating-star, .rating:hover .rating-star {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  background: url('../images/star.png') 0 -16px;
}

.a-icon-shop-now {
  left: 2px;
  top: 2px;
  position: absolute;
  height: 25px;
  width: 25px;
  background: 0 0;
  display: inline-block;
  vertical-align: top;
}

.a-button {
  background: #d8dde6;
  display: block;
  padding: 0;
  vertical-align: middle;
  height: 31px;
  *height: 29px;
  border: 1px solid;
  border-color: #bcc1c8 #bababa #adb2bb;
  text-align: center;
  overflow: hidden;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  max-width: 130px;
  box-sizing: border-box;
  margin-top: 11px;
}

.a-button-text {
  position: relative;
  text-decoration: none;
  z-index: 10;
  color: #111;
  font-size: 12px;
  text-align: center;
  line-height: 29px;
  display: block;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  background-color: transparent;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0 2px 0 29px;
}

.a-button-text.centered {
  padding: 0 2px;
}

.a-button-input {
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  opacity: .01;
  filter: alpha(opacity=1);
}

.a-button-primary {
  border-color: #cba957 #bf942a #aa8326;
  background: #f0c14b;
}

.a-button-primary:active {
  border-color: #aa8326 #bf942a #bf942a;
}

.a-button-primary:hover {
  border-color: #c59f43 #aa8326 #957321;
}

.a-button-primary:focus {
  outline: 0;
  border-color: #e47911;
  -webkit-box-shadow: 0 0 3px rgba(228, 121, 17, .5);
  -moz-box-shadow: 0 0 3px rgba(228, 121, 17, .5);
  box-shadow: 0 0 3px rgba(228, 121, 17, .5);
}

.a-button-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  display: block;
}

.a-button-primary .a-button-inner {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
  background-color: #f7dfa5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dfa5), to(#f0c14b));
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  background: -moz-linear-gradient(top, #f7dfa5, #f0c14b);
  background: -ms-linear-gradient(top, #f7dfa5, #f0c14b);
  background: -o-linear-gradient(top, #f7dfa5, #f0c14b);
  background: #f3d078;
}

.lt-ie9 .a-button-primary .a-button-inner {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7dfa5', endColorstr='#fff0c14b', GradientType=0);
}

.a-button-primary:active .a-button-inner {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2) inset;
  background-color: #f0c14b;
  background-image: none;
}

.lt-ie9 .a-button-primary:active .a-button-inner {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.a-button-primary:hover .a-button-inner {
  background-color: #f5d78e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5d78e), to(#eeb933));
  background: -webkit-linear-gradient(top, #f5d78e, #eeb933);
  background: -moz-linear-gradient(top, #f5d78e, #eeb933);
  background: -ms-linear-gradient(top, #f5d78e, #eeb933);
  background: -o-linear-gradient(top, #f5d78e, #eeb933);
  background: #f1c860;
}

.lt-ie9 .a-button-primary:hover .a-button-inner {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5d78e', endColorstr='#ffeeb933', GradientType=0);
}

#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsdiv input[type=text], .settingsdiv input[type=date], .settingsdiv input[type=datetime], .settingsdiv input[type=number], .settingsdiv input[type=search], .settingsdiv input[type=time], .settingsdiv input[type=url], .settingsdiv input[type=email], textarea, select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 1px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.settingsdiv input[type=text]:focus, .settingsdiv input[type=date]:focus, .settingsdiv input[type=datetime]:focus, .settingsdiv input[type=number]:focus, .settingsdiv input[type=search]:focus, .settingsdiv input[type=time]:focus, .settingsdiv input[type=url]:focus, .settingsdiv input[type=email]:focus, .settingsdiv textarea:focus, .settingsdiv select:focus {
  -moz-box-shadow: 0 0 8px #12709e;
  -webkit-box-shadow: 0 0 8px #12709e;
  box-shadow: 0 0 8px #12709e;
  border: 1px solid #12709e;
}

.sorting_order {
  vertical-align: middle;
  transition: transform .8s ease;
}

.sorting_order:hover {
  transform: rotate(180deg);
  background-color: #e1e1e1;
}

.lbl {
  float: right;
  margin: 5px;
  position: relative;
  display: block;
  height: 20px;
  width: 50px;
  background: #ccc;
  border-radius: 100px;
  cursor: pointer;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #999999;
  content: '';
  transition: all 0.1s linear;
}

.cbx:checked~label {
  background: #599abb;
}

.cbx:checked~label:after {
  left: 30px;
  background: #12709e;
}

.cbx:disabled~label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled~label:after {
  background: #bcbdbc;
}

.hidden {
  display: none;
}